body{
	padding-top: 				130px;
	background-color: 	#ededed;
	font-family: 				Scala, serif !important;
	color: 							#485667 !important;
}

h2{
	font-family: 				Scala, serif;
}

h3{
	font-family: 				"ProximaNovaRegular", Helvetica Neue, Helvetica, sans-serif;
	font-weight: 				200;
}

h3{
	font-size: 					18px;
	text-align: 				left;
	float: 							left;
	width: 							60%;
	margin-top: 				-10px;
}

span.section-header{
	color: 							#485667;
	margin-bottom: 			20px;
	font-size: 					28px;
	font-weight: 				200;
	font-family: 				Scala, serif;
	line-height: 				30px;
}

div.col-white{
	background: 				#fff;
	border: 						1px solid #d8d7d9;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.navbar{
	background-color: 	#fff;
	border-bottom: 			1px solid #d8d7d9;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 		0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 				0 1px 4px rgba(0, 0, 0, 0.065);
	height: 						55px;
}

ul.table {
	padding-left: 			0;
}

ul.table li {
	padding: 						25px 20px 20px 20px;
	list-style: 				none;
	background: 				#F9F9F9;
	border: 						1px solid #d8d7d9;
	margin-bottom: 			10px;
	margin-left: 				0;
}

ul.table.small li{
	padding: 						5px 5px 5px 5px;
	list-style: 				none;
	background:					transparent;
	border:							0px solid transparent;
	border-bottom: 			1px solid #d8d7d9;
	margin-bottom: 			10px;
	margin-left: 				0;
}

a{
	color:							#de5e42;
	text-decoration: 		none;
}

a:hover {
	color:							#de5e42;
	text-decoration: 		underline;
}

div.vehicle-details{
	text-align: 				right;
	width: 							40%;
	float: 							right;
	padding: 						10px;
	border-left: 				1px solid #ededed;
	margin: 						-26px -20px 0 -20px;
	padding-top: 				5px;
	padding-bottom:		 	5px;
	height: 						47px;
	line-height: 				35px;
}

table.vehicle-details td{
	width:							200px;
}

table.list{
	width: 							100%;
	border-collapse: 		separate;
  border-spacing:			0 10px;
}

table.list tr{
}

table.list td{
	padding: 						15px;
	background: 				#F9F9F9;
	border: 						1px solid #d8d7d9;
	border-left: 				1px solid #ededed;
	border-right: 			1px solid #ededed;
}

table.list td.first{
	font-family: 				"ProximaNovaRegular", Helvetica Neue, Helvetica, sans-serif;
	font-weight: 				200;
	font-size:					18px;
	border-left: 				1px solid #d8d7d9;
}

table.list td.last{
	text-align: 				right;
	/*width: 							20%;*/
	border-right: 			1px solid #d8d7d9;
}
